{% extends "core/base.html" %}

{% load chat_tags %}
{% load static %}

{% block content %}
    <div>
        <h1 class="text-2xl border border-gray-800 rounded-xl max-w-[300px] p-3"><b class="mx-3">Room Id:</b> {{room.uuid}} </h1>
        <hr class="mt-5 text-black">
        <p class="mt-4 mx-5">
            <b>Name: &nbsp;</b>{{room.client}}<br>
            <b>Started: &nbsp;</b>{{room.created_at|timesince}} ago<br>
            <b>Status: &nbsp;</b>{{room.status}}<br>
            <b>Page Url: &nbsp;</b>{{room.url}}<br>
            <b>Agent: &nbsp;</b>{% firstof room.agent.name "None yet...."%}<br>
        </p>
        <hr class="mt-6">
        <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full p-4">
            <div class="h-[300px] bg-gray-400 mt-5 overflow-scroll rounded-xl flex flex-col flex-grow message_box">
                {% for message in room.messages.all %}
                    <div class="flex w-full max-w-md mt-2 space-x-3 {% if message.created_by %}ml-auto justify-end{% endif %}">
                        {% if not message.created_by %}
                            <div class="flex-shrink-0 h-10 w-10 rounded-full bg-gray-800 text-center text-white mx-3 my-2 pt-2">
                                {{message.sent_by|initials}}
                            </div>
                        {% endif %}
                        <div class="my-2">
                            <div class="p-3 rounded-xl {% if message.created_by %}bg-blue-600{% else %}bg-gray-500{% endif %}">
                                <p class="text-sm">{{message.content}}</p>
                            </div>
                            <span class="text-xs text-gray-700 leading-none">{{ message.created_at|timesince}} ago</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if room.status == "active" %}
                <div class="flex flex-row items-center h-16 rounded-xl bg-gray-500 w-full px-4">
                    <div class="flex-grow ml-4">
                        <div class="relative w-full">
                            <input type="text" id="message_content"
                                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-800 pl-4 h-10" placeholder="Type your message....." />
                            <button
                                class="absolute flex items-center justify-center h-full w-12 right-0 top-0 text-gray-800 hover:text-gray-600">
                                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M14.828 14.828a4 4 0 01-5.656 0M9 10h.01M15 10h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="ml-4">
                        <button id="send_message"
                            class="flex items-center justify-center bg-teal-700 hover:bg-teal-800 rounded-xl text-white px-4 py-1 flex-shrink-0">
                            <span>Send</span>
                            <span class="ml-2">
                                <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none" stroke="currentColor"
                                    viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path>
                                </svg>
                            </span>
                        </button>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {% if room.status == "active" %}
        {{room.uuid|json_script:"room_uuid"}}
        {{request.user.name|json_script:"user_name"}}
        {{request.user.id|json_script:"user_id"}}
        <script src="{% static 'js/chat_admin.js' %}"></script>
    {% endif %}
{% endblock %}