{% load static %}

<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.min.css' %}">
        <link href="https://unpkg.com/tailwindcss@1.9.6/dist/tailwind.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" crossorigin="anonymous">

    </head>
    <style>
        .content {
            min-height: 500px;
        }
        .card-waiting {
            background-color: #daf7db;
        }
        hr{
            height: 1px;
            background-color: black;
        }
        body{
            background-color: #becde9;
        }
    </style>
    <body>
        <nav class="p-6 bg-blue-900 text-white flex justify-between items-center navbar">
            <a href="{% url 'core:index' %}" class="text-xl">chat-@pplication</a>
            <div class="flex items-end space-x-4">
                <a href="{% url 'core:about' %}" class="p-2">About</a>
                {% if not request.user.is_authenticated %}
                    <a href="{% url 'account:login' %}" class="p-2">Login</a>
                {% endif %}
                {% if request.user.is_authenticated %}
                    <a href="{% url 'account:logout' %}" class="p-2">Logout</a>
                {% endif %}
                {% if request.user.groups.all.first.name == "Manager" or request.user.groups.all.first.name == "agent"%}
                    <a href="{% url 'chat:admin_dashboard' %}" class="inline-block p-2 px-6 bg-gray-300 text-black rounded-xl">Chat Admin</a>
                {% endif %}
            </div>
        </nav>

        <main class="max-w-6xl mx-auto p-6 content">
            {% if messages %}
                <div id="backend_message">
                    <div class="message mb-6 p-3 bg-rose-600 text-white rounded-xl flex justify-between">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                        <span aria-hidden="true" class="text-3xl text-white mx-5" role="button" id="remove_message">&times;</span>
                    </div>
                </div>
            {% endif %}

            {% block content %}
            {% endblock %}
        </main>

        <footer class="py-12 px-6 bg-blue-900 text-white text-center text-xs footer">
            <p>Copyright (c) 2023 - chat-@pplication</p>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
        <script src="/static/js/jquery-3.6.0.min.js"></script>
        <script>
            $('#remove_message').click(function(e){
                $('#backend_message').remove();
            })
        </script>
        {% block scripts %}
        {% endblock %}
    </body>
</html>