{% extends 'core/base.html' %}

{% load static %}

{% block content %}
    <div class="mt-12 mb-12 py-12 px-8 grid grid-cols-5 gap-4 items-center border border-gray-500 bg-white rounded-xl">
        <div class="col-span-2">
            <img src="{% static 'images/chat_image.png' %}">
        </div>

        <div class="col-span-3">
            <h1 class="mb-8 text-3xl">Welcome to chat-@pplication support</h1>

            <h2 class="text-lg text-gray-700 mx-5">Please sign up or login first to start chat.</h2>
        </div>
    </div>
    {% include "chat/chat_bubble.html" %}
{% endblock %}